 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*h1{
    border: 1px solid black;
    background-color: aquamarine;
    /* height: 230px;
    width: 500px; 
}*/
#wrapper{
    padding: 40px;
    width: 1000px;
    height: 800px;
    border: 20px  solid red;
    position: relative;
}
span{
    display: inline-block;
    border: 1px solid rgb(155, 5, 5);
    background-color: rgb(232, 183, 177);
    height: 80px;
    width: 200px; 
    /* display: inline-block; */
    /* margin-top:10px;  */
    /* position: relative; */
    /* left:30px; */
    text-align: center;
    
}
#box3{
    position: absolute;
    top: 0px;
    left: 0px;
}
#icon{
border: 1px solid black;
color: aliceblue;
border-radius: 50px;
background-color: rgb(255, 80, 80);
 display: inline-block;
 height: 70px;
 width: 70px;
 text-align: center;
 font-size: larger;
 padding-top: 9px;
 position: absolute;
 top: 350px;
 left: 324px;

}
#image{
    top: -500px;
    width: 400px;
    height: 400px;
    position: relative;

}
/* #box4{
    /* position: fixed; 
} */
/* #zero{
    border: 1px solid rgb(201, 21, 51);
    /* display: none; */
    /* visibility: hidden;
}
#one{
   border: 1px solid green;
} */
 #box2{
    position: sticky;
    top: 200px;
 }
 #box1{
    position:relative;
    z-index: 2;
 }